# SCons files #
###############
.sconsign.dblite
.sconf_temp
config.log

# temp files  #
###############
*.swp
*~

# build files #
###############
bin
obj
*.pyc
test/test.c

# VS files    #
###############
*/Debug/
*.ncb
*.suo
*.user
*/x64
*/*/Debug
*/*/x64

# Logging     #
###############
patrician_log*.dat
logs/log*.html
